:host {
  display: block;
}

.track {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: #7986cb;
    color: aliceblue;
  }
}