<div class="left" *ngIf="(sizes$ | async)?.['for-tablet-landscape-down']">
  <sthtr-left 
    [selected]="(selected$ | async) || undefined"
    [selectedType]="(selectedType$ | async) || undefined"
    [loading]="(loading$ | async) || false"
    (onSelect)="setSelected($event, false)"
  ></sthtr-left>
</div>
<div class="right">
  <sthtr-search-box (searchChanged)="search($event)"></sthtr-search-box>
  <sthtr-search-result *ngIf="currentSearch.length" 
    [albums]="albums"
    [artists]="artists"
    [tracks]="tracks"
    (onSelect)="setSelected($event, true)"
  ></sthtr-search-result>
</div>
