:host {
  display: block;
}

.result-item {
  display: flex;
  padding: 2px;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #7986cb;
    color: aliceblue;
  }
}

img {
  width: 40px;
  margin-right: 5px;
}