@import  "/src/scss/breakpoints.scss";

:host {
  display: grid;
  grid-template-columns: 200px 200px 1fr;

  @include for-phone-only {
    grid-template-columns: 1fr;
  }
}

.button_container {
  margin-top: 10px;
  button {
    margin-right: 10px;
  }
}